<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sourceFolder" value="C:\Pictures\"/>
    <add key="destinationFolder" value="H:\Khuong\Pictures\Khuong and Michelle"/>
  </appSettings>
</configuration>